ion-title.title-large {
    font-size: 24px;
}
ion-toolbar{
    margin-left: 5px;
}

ion-list{
    margin-left: 5px;
}

.bg-black-trans{
  background: rgba(0, 0, 0, 0.5);
}

.bg-img-style{
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


ion-slide {
  height: calc(100vh - 140px);
}
