<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-back-button [defaultHref]="'/topic-detail/'+this.topicId"></ion-back-button>-->
<!--    </ion-buttons>-->
<!--    <ion-title>{{this.post?.name}}</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true">-->
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-buttons slot="start">-->
<!--        <ion-back-button></ion-back-button>-->
<!--      </ion-buttons>-->
<!--      <ion-title size="large">{{this.post?.name}}</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
<!--  <ion-card>-->
<!--    &lt;!&ndash; <ion-card-header>-->
<!--      <ion-card-title>{{this.post?.name}}</ion-card-title>-->
<!--    </ion-card-header> &ndash;&gt;-->
<!--    <ion-card-content>-->
<!--      {{this.post?.description}}-->
<!--    </ion-card-content>-->
<!--  </ion-card>-->
<!--</ion-content>-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Plat</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 250px; background-size: cover; background-position: center; background-repeat: no-repeat; background-image: url('https://images.unsplash.com/photo-1492683962492-deef0ec456c0?q=80&w=1156&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="ion-text-center ion-align-items-center ion-padding">
    <div class="ion-padding-vertical ion-align-items-end" style="background: rgba(0, 0, 0, 0.5); ">
      <h3>Nom de repas</h3>
      <p>producer</p>
    </div>
  </div>

  <ion-row class="ion-padding">
    <ion-col>
      <ion-label class="ion-text-nowrap">
        Soup with <b>Dimsus</b> and <b>Vegetables</b>
      </ion-label>

      <br/><br/>

      <ion-label>
        30 Minutes
      </ion-label>
      <br/><br/>

      <ion-label color="primary">
        #Western
      </ion-label>
      <ion-label color="primary">
        #Salade
      </ion-label>
    </ion-col>
  </ion-row>


</ion-content>
