<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/topic-detail/'+this.topicId"></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.post?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">{{this.post?.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <!-- <ion-card-header>
      <ion-card-title>{{this.post?.name}}</ion-card-title>
    </ion-card-header> -->
    <ion-card-content>
      {{this.post?.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
