<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/category-detail/'+this.categoryId"></ion-back-button>
    </ion-buttons>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Recipes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ recipe?.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Duration:</ion-label>
        <ion-text>{{ recipe?.duration }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Serving:</ion-label>
        <ion-text>{{ recipe?.serving }}</ion-text>
      </ion-item>
      <form [formGroup]="userForm">
        <ion-item>
          <ion-select label="Username" labelPlacement="stacked" required formControlName="username">
            <ion-select-option *ngFor="let user of users" [value]="user.username">{{ user.username }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select label="Role" labelPlacement="stacked" required formControlName="role" errorText="Role is required">
            <ion-select-option *ngFor="let role of roles" [value]="role">{{ role }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="shareRecipe()">Share</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/category-detail/' + this.categoryId"></ion-back-button>
    </ion-buttons>
    <ion-title>Plat</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid class="ion-text-center ion-align-items-center ion-padding bg-img-style" style="background-image: url({{ recipe?.imgUrl }});">
    <ion-row class="ion-padding-vertical bg-black-trans">
      <ion-col>
        <h3>{{ recipe?.name }}</h3>
        <p>Producer: {{ user?.username }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="ion-padding">
    <ion-col>
      <ion-label>
        {{ recipe?.duration }}
      </ion-label>
      <br/><br/>

      <ion-label>
        {{ recipe?.serving }} serving
      </ion-label>
      <br/><br/>

      <ion-label color="primary" *ngFor="let tag of recipe?.tags">
        #{{ tag.name }}
      </ion-label>

    </ion-col>
  </ion-row>

  <ion-row class="ion-padding-horizontal">
    <ion-segment color="tertiary" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="ingredients">
        <ion-label>Ingredients</ion-label>
      </ion-segment-button>
      <ion-segment-button value="steps">
        <ion-label>Steps</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-row>

  <ion-list [inset]="true" *ngIf="segmentValue === 'steps'">
    <ion-row *ngFor="let step of recipe?.steps" class="ion-justify-content-between ion-align-items-center ion-padding">
      <ion-checkbox></ion-checkbox>
      <label>{{step.description}}</label>
    </ion-row>
  </ion-list>

  <ion-list [inset]="true" *ngIf="segmentValue === 'ingredients'">
    <ion-row *ngFor="let ingredient of recipe?.ingredients" class="ion-justify-content-between ion-align-items-center ion-padding">
      <ion-row class="ion-align-items-center">
        <ion-checkbox></ion-checkbox>
        <label class="ion-padding-horizontal">{{ingredient.name}}</label>
      </ion-row>
      <label>{{ingredient.volume}}</label>
    </ion-row>
  </ion-list>
</ion-content>
