<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tab/home"></ion-back-button>
      </ion-buttons>
      <ion-title>
  <!--      {{ this.topic?.name }}-->
        Soup
      </ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="share-social-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="light">
    <ion-card *ngFor="let recipe of recipes">
      <ion-card-content class="bg-img-style" style="background-image: url({{recipe.img}});"></ion-card-content>
      <ion-item detail lines="none" color="primary">
        <ion-label>
          <h1>{{recipe.name}}</h1>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-content>
  
  
  
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal" data-testid="open-new-post-modal-btn" expand="block" (click)="createPost()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>