<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
    <ion-buttons slot="end">
      <ion-button data-testid="confirm-reset-password-modal-btn" (click)="confirm()" [strong]="true" [disabled]="resetPasswordForm.errors?.['required']"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="resetPasswordForm">
    <ion-item>
      <ion-input data-testid="email" labelPlacement="stacked"  label="Enter your email address"  required formControlName="email" errorText="Email is required" ></ion-input>
    </ion-item>
    
  </form>
</ion-content>
