ion-title.title-large {
    font-size: 24px;
}
ion-toolbar{
    margin-left: 5px;
}

ion-list{
    margin-left: 5px;
}

ion-card-content{
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
