<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ this.category?.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <ng-container *ngIf="this.user && this.user.id && recipes.length > 0; else otherContent">
    <ion-card *ngFor="let recipe of recipes" class="ion-no-padding ion-margin">
      <ion-button fill="clear" class="button-right-top"  id="ellipsis" (click)="  presentActionSheet(recipe)" *ngIf="this.user && this.user.id && category && (category.editors?.includes(this.user!.id) || category.owner == this.user.id);">
        <ion-icon color="secondary" slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>

      <ion-card-content *ngIf="recipe.imgUrl; else defaultImg" (click)="showRecipe(category!.id, recipe.id)" style="background-image: url({{recipe.imgUrl}});"></ion-card-content>
      <ng-template #defaultImg>
        <ion-card-content (click)="showRecipe(category!.id, recipe.id)" style="background-image: url(../../../assets/img/photo_default.png);"></ion-card-content>
      </ng-template>

      <ion-item detail lines="none" (click)="showRecipe(category!.id, recipe.id)">
        <ion-label>
          <h3>{{recipe.name}}</h3>
        </ion-label>
      </ion-item>
    </ion-card>
  </ng-container>

  <ng-template class="ion-wrap" #otherContent>
    <ion-item>
      <ion-label color="medium" class="ion-padding ion-text-center">
        No recipes found!
      </ion-label>
    </ion-item>
  </ng-template>
</ion-content>

<!-- Déplacez cette balise en dehors de la boucle *ngFor -->
<ion-action-sheet header="Actions"></ion-action-sheet>

<ion-fab slot="fixed" class="ion-margin" vertical="bottom" horizontal="end">
  <ion-fab-button id="open-modal" data-testid="open-new-post-modal-btn" expand="block" (click)="createRecipe()">
    <ion-icon name="add-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>




