<ion-content [fullscreen]="true">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <h1>SignUp</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img
    src="../../assets/img/login.png"
    alt="The Wisconsin State Capitol building in Madison, WI at night"
  ></ion-img>

  <form [formGroup]="regForm" class="ion-padding" novalidate>
    <ion-item class="ion-padding-vertical">
      <ion-input formControlName="firstName" placeholder="firstName"></ion-input>
    </ion-item>
    <div class="text-danger" *ngIf="this.regForm.controls['firstName'].touched && this.regForm.controls['firstName'].invalid">
      A firstname is required
    </div>

    <ion-item class="ion-padding-vertical">
      <ion-input formControlName="lastName" placeholder="lastName"></ion-input>
    </ion-item>
    <div class="text-danger" *ngIf="this.regForm.controls['lastName'].touched && this.regForm.controls['lastName'].invalid">
      A lastname is required
    </div>

    <ion-item class="ion-padding-vertical">
      <ion-input formControlName="username" placeholder="username"></ion-input>
    </ion-item>
    <div class="text-danger" *ngIf="this.regForm.controls['username'].touched && this.regForm.controls['username'].invalid">
      A username is required
    </div>

    <ion-item class="ion-padding-vertical">
      <ion-input formControlName="email" placeholder="email"></ion-input>
    </ion-item>
    <div class="text-danger" *ngIf="this.regForm.controls['email'].touched && this.regForm.controls['email'].invalid">
      The email is invalid
    </div>
    
    <ion-item>
      <ion-input type="password" formControlName="password" placeholder="password"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="this.regForm.controls['password'].touched && this.regForm.controls['password'].invalid">
      Minimum 4 characters, at least 1 upper case letter, 1 lower case letter, 1 number and 1 special character
    </ion-label>

    <ion-item class="ion-padding-top">
      <ion-input type="password" formControlName="confirmPassword" placeholder="confirm password"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="this.regForm.controls['confirmPassword'].touched && this.regForm.controls['confirmPassword'].invalid">
      Minimum 4 characters, at least 1 upper case letter, 1 lower case letter, 1 number and 1 special character
    </ion-label>

    <ion-row>
      <ion-col>
        <p class="ion-text-center">
          Already a member?
          <a [routerLink]="['/login']">&nbsp;Sign in</a>
        </p>
      </ion-col>
    </ion-row>

    <ion-button (click)="signUp()" expand="block">&nbsp;Sign in</ion-button>
  </form>
</ion-content>
