.text-danger {
    color: red;
  }
  
  ion-item {
    --padding-start: 0;
    --padding-end: 0;
  }
  
  ion-button {
    margin-top: 20px;
  }
  .custom-padding{
    margin-left: 10%;
    margin-right: 10%;
  }