<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <div *ngIf="recipeId; else newRecipe">
      <ion-title>Update Recipe</ion-title>
    </div>
    <ng-template #newRecipe>
      <ion-title>Add new recipe</ion-title>
    </ng-template>
    <ion-buttons slot="end">
      <ion-button data-testid="confirm-new-recipe-modal-btn" (click)="confirm()" [strong]="true" [disabled]="recipeForm.errors?.['required']"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="recipeForm">
    <ion-item>
      <ion-input data-testid="recipe-name" labelPlacement="stacked"  label="Name"  required formControlName="name" errorText="Name is required" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Serving" labelPlacement="stacked" required formControlName="serving" errorText="Serving is required">
        <ion-select-option *ngFor="let num of numbers" [value]="num">{{ num }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input data-testid="duration" labelPlacement="stacked"  label="Duration"  required formControlName="duration" errorText="Duration is required" ></ion-input>
    </ion-item>
  </form>
</ion-content>
