<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <div *ngIf="recipeId; else newRecipe">
      <ion-title>Update Recipe</ion-title>
    </div>
    <ng-template #newRecipe>
      <ion-title>Add new recipe</ion-title>
    </ng-template>
    <ion-buttons slot="end">
      <ion-button data-testid="confirm-new-recipe-modal-btn" [disabled]="recipeForm.invalid" (click)="confirm(this.uploadService.selectedFile, $event)" [strong]="true" >
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="recipeForm">
    <ion-item>
      <ion-input data-testid="recipe-name" labelPlacement="stacked"  label="Name"  required formControlName="name" errorText="Recipe name is required" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Serving" labelPlacement="stacked" required formControlName="serving" errorText="Serving is required">
        <ion-select-option *ngFor="let num of numbers" [value]="num">{{ num }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input data-testid="duration" labelPlacement="stacked"  label="Duration"  required formControlName="duration" errorText="Duration is required" ></ion-input>
    </ion-item>
  </form>

  <ion-card class="ion-no-margin ion-margin-top">
    <ion-card-subtitle class="ion-padding">
      Upload image
    </ion-card-subtitle>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-input accept="image/*" type="file" name="inputFile" (change)="uploadService.chooseFile($event)" required></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="ingredientsForm">
    <ion-row>
      <ion-col formArrayName="ingredients">
        <ng-container *ngFor="let ingredientGroup of ingredients.controls; let i = index">
          <ion-row [formGroupName]="i">
            <ion-col>
              <ion-label>Name</ion-label>
              <ion-input placeholder="Type name of ingredient" formControlName="name"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label>Volume</ion-label>
              <ion-input placeholder="Type volume of ingredient" formControlName="volume"></ion-input>
            </ion-col>
            <ion-icon (click)="removeIngredient(i)" color="danger" size="large" name="close-outline"></ion-icon>
          </ion-row>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-button expand="block" (click)="addIngredient()">Add Ingredient</ion-button>
  </form>

  <form [formGroup]="stepsForm">
    <ion-row>
      <ion-col formArrayName="steps">
        <ng-container *ngFor="let stepGroup of steps.controls; let i = index">
          <ion-row [formGroupName]="i">
            <ion-col>
              <ion-label>Description</ion-label>
              <ion-input placeholder="Type description of step" formControlName="description"></ion-input>
            </ion-col>
            <ion-icon (click)="removeStep(i)" color="danger" size="large" name="close-outline"></ion-icon>
          </ion-row>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-button expand="block" (click)="addStep()">Add Step</ion-button>
  </form>

  <form [formGroup]="tagsForm">
    <ion-row>
      <ion-col formArrayName="tags">
        <ng-container *ngFor="let tagGroup of tags.controls; let i = index">
          <ion-row [formGroupName]="i">
            <ion-col>
              <ion-label>Tag</ion-label>
              <ion-input placeholder="Type tag" formControlName="name"></ion-input>
            </ion-col>
            <ion-icon (click)="removeTag(i)" color="danger" size="large" name="close-outline"></ion-icon>
          </ion-row>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-button expand="block" (click)="addTag()">Add Tag</ion-button>
  </form>

</ion-content>
