<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <div *ngIf="postId; else newPost">
      <ion-title>Update Post</ion-title>
    </div>
    <ng-template #newPost>
      <ion-title>Add new post</ion-title>
    </ng-template>
    <ion-buttons slot="end">
      <ion-button data-testid="confirm-new-post-modal-btn" (click)="confirm()" [strong]="true" [disabled]="postForm.errors?.['required']"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="postForm">
    <ion-item>
      <ion-input data-testid="post-name" labelPlacement="stacked"  label="Name"  required formControlName="name" errorText="Name is required" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea data-testid="post-desc" label="Description" labelPlacement="stacked" required formControlName="description" errorText="Description is required"></ion-textarea>
    </ion-item>
  </form>
</ion-content>
