<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>DishShare</ion-title>
    <!-- <ion-tie class="ion-padding-horizontal">DishShare</ion-tie> -->
    <!-- <p class="ion-padding-horizontal" *ngIf="this.user">Good morning {{this.user.username}}</p>
    <ion-buttons slot="end">
      <ion-button>
        <ion-avatar>
          <ion-img *ngIf="user?.imgUrl; else defaultImg" src="{{user?.imgUrl}}"></ion-img>
          <ng-template #defaultImg>
            <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg" class="rounded-full" alt="avatar"></ion-img>
          </ng-template>
        </ion-avatar>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar *ngIf="searchService.showSearchBar$ | async">
    <ion-searchbar (ionInput)="handleInput($event)" animated="true" placeholder="Search name"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding-vertical">
  <ion-buttons class="ion-padding-top ion-padding-horizontal" lines="none" (click)="toggleMyCategories()">
    <ion-button fill="none">
      My categories
      <ion-icon name="chevron-down" *ngIf="showMyCategories"></ion-icon>
      <ion-icon name="chevron-up" *ngIf="!showMyCategories"></ion-icon>
    </ion-button>
  </ion-buttons>
  
  <div *ngIf="showMyCategories">
    @for (category of categories$ | async; track category.id) {

      <ion-list class="ion-padding-vertical" lines="none">
        <ion-item-sliding data-testid="categories" #ionItemSliding>
          <ion-item-options side="start">
            <ion-item-option color="success" (click)="updateCategory(category.id);closeIonSliding(ionItemSliding)"><ion-icon name="pencil-outline"></ion-icon></ion-item-option>
          </ion-item-options>
  
          <ion-item class="ion-padding-horizontal" (click)="navigateToDetail(category.id)">
            <ion-avatar slot="start">
              <ion-img *ngIf="category.imgUrl; else defaultImg" src="{{category.imgUrl}}"></ion-img>
              <ng-template #defaultImg>
                <ion-img src="../../assets/img/photo_default.png"></ion-img>
              </ng-template>
            </ion-avatar>
            <ion-label>
              <h2>{{ category.name }}</h2>
              <p>{{category.recipes}}</p>
            </ion-label>
          </ion-item>
  
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="presentAlertDelete(this.deleteCategory.bind(this), category.id, category.name);closeIonSliding(ionItemSliding)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    }
  </div>

  <ion-buttons class="ion-padding-top ion-padding-horizontal" lines="none" (click)="toggleSharedCategories()">
    <ion-button fill="none">
      Shared with me
      <ion-icon name="chevron-down" *ngIf="showSharedCategories"></ion-icon>
      <ion-icon name="chevron-up" *ngIf="!showSharedCategories"></ion-icon>
    </ion-button>
  </ion-buttons>

  <div *ngIf="showSharedCategories">
    @for (category of sharedCategories$ | async; track category.id) {
      <ion-list class="ion-padding ion-margin-vertical" lines="none" >
        <ion-item-sliding data-testid="categories" #ionItemSliding *ngIf="category.editors?.includes(this.user!.username); else otherContent">
          <ion-item-options side="start">
            <ion-item-option color="success" (click)="updateCategory(category.id);closeIonSliding(ionItemSliding)"><ion-icon name="pencil-outline"></ion-icon></ion-item-option>
          </ion-item-options>
  
          <ion-item class="ion-no-margin" (click)="navigateToDetail(category.id)">
            <ion-avatar slot="start">
              <ion-img *ngIf="category.imgUrl; else defaultImg" src="{{category.imgUrl}}"></ion-img>
              <ng-template #defaultImg>
                <ion-img src="../../assets/img/photo_default.png"></ion-img>
              </ng-template>
            </ion-avatar>
            <ion-label>
              <h2>{{ category.name }}</h2>
              <p>{{category.recipes?.length}}</p>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
        <ng-template #otherContent>
          <ion-item class="ion-no-margin" (click)="navigateToDetail(category.id)" >
            <ion-avatar slot="start">
              <ion-img *ngIf="category.imgUrl; else defaultImg" src="{{category.imgUrl}}"></ion-img>
              <ng-template #defaultImg>
                <ion-img src="../../assets/img/photo_default.png"></ion-img>
              </ng-template>
            </ion-avatar>
            <ion-label>
              <h2>{{ category.name }}</h2>
              <p>okkpppi</p>
              <ion-row class="ion-align-items-center">
                <ion-text color="warning">Read-only&nbsp;</ion-text>
                <ion-icon color="warning" class="ion-text-center" name="eye-outline"> </ion-icon>
              </ion-row>
            </ion-label>
          </ion-item>
      </ng-template>
      </ion-list>
    }
  </div>

  <div class="ion-wrap" *ngIf="(categories$ | async)?.length == 0 && (sharedCategories$ | async)?.length == 0">
    <ion-item>
      <ion-label color="medium" class="ion-padding ion-text-center">
        No categories found!
      </ion-label>
    </ion-item>
  </div>
</ion-content>

<ion-fab class="ion-margin" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button data-testid="open-new-category-modal-btn" id="open-modal" (click)="createCategory()">
    <ion-icon name="add-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>
