#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-title.title-large {
  font-size: 24px;
}
ion-list{
  margin-left: 5px;
}

ion-card {
  --background: #000;
  --color: #9efff0;
  width: 40%;
  height: 40vw;
  border-radius: 100%;
}

ion-card-header{
  height: inherit;
  display: flex;
  align-items: center;
}

ion-card-title {
  --color: #52ffe4;
}

ion-card-subtitle {
  --color: #d1fff8;
}


ion-menu::part(backdrop) {
  background-color: rgba(255, 0, 255, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

ion-list{
  border-radius: 10px;
  margin-left: 0;
}
