<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <p>Good morning</p>
        <p>username</p>
      </ion-toolbar>
    </ion-header>
  </ion-header>

  <ion-content>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-padding-vertical">
      @for (topic of topics$ | async; track topic.id) {
        <ion-card style="background-size: cover; background-position: center; background-repeat: no-repeat; background-image: url('https://images.unsplash.com/photo-1492683962492-deef0ec456c0?q=80&w=1156&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="ion-text-center ion-align-items-center" color="light" (click)="navigateToDetail(topic.id)">
          <ion-card-header>
            <ion-card-title>{{ topic.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      }


  <!--    @for (topic of topics$ | async; track topic.id) {-->
  <!--    <ion-item-sliding data-testid="topics" #ionItemSliding>-->

  <!--      <ion-item-options side="start">-->
  <!--        <ion-item-option color="success" (click)="updateTopic(topic.id);closeIonSliding(ionItemSliding)"><ion-icon name="pencil-outline"></ion-icon></ion-item-option>-->
  <!--      </ion-item-options>-->

  <!--      <ion-card style="background-size: cover; background-position: center; background-repeat: no-repeat; background-image: url('https://images.unsplash.com/photo-1492683962492-deef0ec456c0?q=80&w=1156&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="ion-text-center ion-align-items-center" color="light" (click)="navigateToDetail(topic.id)">-->
  <!--        <ion-card-header>-->
  <!--          <ion-card-title>{{ topic.name }}</ion-card-title>-->
  <!--        </ion-card-header>-->
  <!--      </ion-card>-->

  <!--      <ion-item-options side="end">-->
  <!--        <ion-item-option color="danger" (click)="presentAlertDelete(this.deleteTopic.bind(this), topic.id, topic.name);closeIonSliding(ionItemSliding)">-->
  <!--          <ion-icon name="trash-outline"></ion-icon>-->
  <!--        </ion-item-option>-->
  <!--      </ion-item-options>-->

  <!--    </ion-item-sliding>-->
  <!--    }-->
    </ion-row>
  </ion-content>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button data-testid="open-new-topic-modal-btn" id="open-modal" expand="block" (click)="createTopic()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<app-tab></app-tab>
