<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card class="ion-text-center">
    <ion-row>
      <ion-col class="content-col">
        <ion-thumbnail class="user-image">
          <ion-img *ngIf="user?.imgUrl; else defaultImg" src="{{user?.imgUrl}}"></ion-img>
          <ng-template #defaultImg>
            <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg" class="rounded-full" alt="avatar"></ion-img>
          </ng-template>
        </ion-thumbnail>
        <ion-text color="dark">
          <h2 class="ion-text-center">{{user?.firstName}} {{user?.lastName}}</h2>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-list [inset]="true">
    <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <ion-input color="primary" readonly="true">0638948234</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input color="primary" readonly="true">ziyi.wang&#64;gmail.com</ion-input>
    </ion-item>
<!--    <ion-item>-->
<!--      <ion-toggle>Dark Mode</ion-toggle>-->
<!--    </ion-item>-->
    <ion-item (click)="logout()" routerDirection="forward">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Logout
    </ion-item>
    <ion-item color="danger" (click)="logout()" routerDirection="forward">
      <ion-icon name="trash-outline" slot="start"></ion-icon>
      Delete account
    </ion-item>
  </ion-list>

</ion-content>

