<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngIf="this.user">

  <ion-card class="ion-text-center">
    <ion-button fill="clear" class="button-right-top"  id="ellipsis" (click)="presentActionSheet()">
      <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-button>
    <ion-row>
      <ion-col class="content-col ion-padding">
        <ion-thumbnail class="user-image">
          <img class="rounded-full" [src]="user.imgUrl" alt="User Image" />
        </ion-thumbnail>
        <ion-label (click)="updateUser()">
          <p>Change photo</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <h3>Given Name</h3>
        {{this.user.firstName}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Last Name</h3>
        {{this.user.lastName}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Email</h3>
        {{this.user.email}}
      </ion-label>
    </ion-item>
   
      <ion-item lines="none"   *ngIf="this.user && this.user.id && this.user.firstName" (click)="presentAlertDelete(this.deleteUser.bind(this), this.user.id, this.user.firstName)" routerDirection="forward">
        <ion-label color="danger"> Delete Account</ion-label>
      </ion-item>
      <ion-item (click)="logout()" routerDirection="forward">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Logout
      </ion-item>
    
  </ion-list>

</ion-content>

