ion-content {
  --padding-top: 16px;

  .content-col {
    --ion-grid-column-padding: 0px;
  }

  .user-image {
    --size: 100px;
    margin: auto;
  }

  .rounded-full{
    border-radius: 100%;
  }
}
